@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700');

.mobi-codepanel {
  box-shadow: 3px 3px 3px rgba(0,0,0,.12), 3px 3px 3px rgba(0,0,0,.24);
  margin-right: 5px;
}

.mobi-codepanel pre[class*="language-"] {
  border: none;
  margin: 0;
}

.mobi-codepanel code[class*="language-"] {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 1.1em;
  white-space: pre-wrap;
}