.mobi-about .welcome-container {
  padding: 20px;
}

.mobi-about h1 {
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 30px;
}

.mobi-about p {
  text-align: justify;
  font-size: 1rem;
}
