$auth-color: white;
$auth-background-color: #123d40;

@include panel-ui(
    $ui: 'auth',
    $background-color: transparent,
    $body-background-color: transparentize($auth-background-color, 0.75),
    $body-color: $auth-color,
    $body-padding: 24px
);

.auth-login {

    .x-formpanel {
        width: 256px;

        .x-field {
            margin-bottom: 5px;
        }

        .x-button {
            // Balance button vertical spacing with form fields
            margin: $field-vertical-spacing/2 0;

            .x-big {
                margin: $field-vertical-spacing-big/2 0;
            }
        }
    }

    .auth-logo {
        width: 200px;
        height: 200px;
        margin-bottom: -20px
    }

    .auth-title {
        color: $auth-color;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
